.btn {
	display: inline-block;
	padding: 12px 56px;

	border-radius: 8px;
	background-color: #141718;

	color: #fff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.4px;
	line-height: 1.77777;

	transition: all 0.2s ease-in;

	@include mobile {
		font-size: 16px;
	}

	&--small {
		padding: 9px 40px;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: -0.4px;
		line-height: 1.75;

		@include mobile {
			padding: 6px 40px;
			font-size: 14px;
		}
	}

	&--wide {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}

	&:hover {
		opacity: 0.9;
	}
}
