.timer {
	display: flex;
	gap: 16px;
	align-items: flex-start;
}

.timer__el {
	text-align: center;
}

.timer__value {
	width: 60px;
	height: 60px;
	background-color: #fefefe;
	line-height: 60px;

	color: #141718;
	font-family: var(--font-accent);
	font-weight: 500;
	font-size: 34px;
	letter-spacing: -0.6px;
}

.timer__desc {
	font-size: 12px;
	line-height: 1.66667;
}
