.values {
	padding: 40px 0;
}

// .values__grid {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
//     gap: 24px;
// }

.values__grid {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;

	& > * {
		flex: 1;
		min-width: 262px;
	}

	@include mobile {
		display: grid;
		grid-template-columns: repeat(2, minmax(150px, 1fr));
		gap: 24px 8px;

		& > * {
			flex: none;
			min-width: auto;
		}
	}
}
